<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' href='css/styles.css' type='text/css' media='screen,projection'>
	<script src='js/bundle.js'></script>
	<title>ConSense</title>
</head>
<body ng-app='appConSense' ng-strict-di ng-controller='AppCtrl as mainCtrl' layout='column'>
		<!-- toolbar with title and menu button -->
		<md-toolbar>
			<div class='md-toolbar-tools'>
				<h2>ConSense</h2>
				<span flex></span>
				<md-button class='md-icon-button' aria-label='Menu'>
					<md-icon md-svg-icon='img/icons/ic_menu.svg'></md-icon>
				</md-button>	
			</div>
		</md-toolbar>

		<!-- tabs for the different views -->
		<md-tabs class='viewTabs' md-stretch-tabs='always' md-selected='mainCtrl.selectedTab'>
			<md-tab md-on-select='mainCtrl.selectedTab = 0'>
				<md-tab-label>Kurs<span class='hide show-gt-sm'>plan</span>
			</md-tab>
			<md-tab md-on-select='mainCtrl.selectedTab = 1'>
				<md-tab-label>Dozent<span class='hide show-gt-sm'>enplan</span>
			</md-tab>
			<md-tab md-on-select='mainCtrl.selectedTab = 2'>
				<md-tab-label>Raum<span class='hide show-gt-sm'>plan</span>
			</md-tab>
		</md-tabs>

		<!-- main content area -->
		<div class='fill-size' layout-xs='column' layout-sm='column' layout-gt-sm='row'>
			<!-- this content takes the left 30% on a big screen and is on top on a small screen -->
			<md-content flex-gt-sm='30'>
				<!-- input controls for the big screen -->
				<div class='hide show-gt-sm' layout='column'>
					<div class='padder'></div>

					<!-- date input controls -->
					<md-input-container class='dateinput-container side-margin no-margin-bottom'>
	         			<input date-field ng-model='mainCtrl.selectedDate' placeholder='Anzuzeigendes Datum'>
	        		</md-input-container>

	        		<!-- TODO: Fix calendar to scale with size of surrounding div (own directive) -->
	        		<div class='whiteframe-calendar-container' md-whiteframe='6'>
	        			<md-calendar class='fixed-calendar' ng-model='mainCtrl.selectedDate'> </md-calendar>
	        		</div>

	        		<div class='padder'></div>
	        		<div class='padder'></div>

	       			<!-- course input controls for the big screen -->
	       			<md-autocomplete ng-show='mainCtrl.selectedTab == 0' class='side-margin' md-whiteframe='6' md-selected-item='mainCtrl.courses.selected' 
	       				md-no-cache='true' md-min-length='0'
				        md-search-text='mainCtrl.courses.searchText'
				        md-items='item in mainCtrl.courses.querySearch(mainCtrl.courses.searchText)'
				        md-selected-item-change='mainCtrl.courses.selectedChange(item)'
				        md-item-text='item.display'
				    	placeholder='Anzuzeigender Kurs'>
				        <md-item-template>
				          <span md-highlight-text='mainCtrl.courses.searchText' md-highlight-flags='i'>{{item.display}}</span>
				        </md-item-template>
				        <md-not-found>
				        	Kein passender Kurs gefunden.
				        </md-not-found>
				    </md-autocomplete>

				    <!-- speaker input controls for the big screen -->
	       			<md-autocomplete ng-show='mainCtrl.selectedTab == 1' class='side-margin' md-whiteframe='6' md-selected-item='mainCtrl.speakers.selected' 
	       				md-no-cache='true' md-min-length='0'
				        md-search-text='mainCtrl.speakers.searchText'
				        md-items='item in mainCtrl.speakers.querySearch(mainCtrl.speakers.searchText)'
				        md-selected-item-change='mainCtrl.speakers.selectedChange(item)'
				        md-item-text='item.display'
				    	placeholder='Anzuzeigender Dozent'>
				        <md-item-template>
				          <span md-highlight-text='mainCtrl.speakers.searchText' md-highlight-flags='i'>{{item.display}}</span>
				        </md-item-template>
				        <md-not-found>
				        	Kein passender Dozent gefunden.
				        </md-not-found>
				    </md-autocomplete>

	       			<!-- room input controls for the big screen -->
	       			<md-autocomplete ng-show='mainCtrl.selectedTab == 2' class='side-margin' md-whiteframe='6' md-selected-item='mainCtrl.rooms.selected' 
	       				md-no-cache='true' md-min-length='0'
				        md-search-text='mainCtrl.rooms.searchText'
				        md-items='item in mainCtrl.rooms.querySearch(mainCtrl.rooms.searchText)'
				        md-selected-item-change='mainCtrl.rooms.selectedChange(item)'
				        md-item-text='item.display'
				    	placeholder='Anzuzeigender Raum'>
				        <md-item-template>
				          <span md-highlight-text='mainCtrl.rooms.searchText' md-highlight-flags='i'>{{item.display}}</span>
				        </md-item-template>
				        <md-not-found>
				        	Kein passender Raum gefunden.
				        </md-not-found>
				    </md-autocomplete>
       			</div>

       			<!-- input controls for the small screen -->
       			<div class='hide show-xs show-sm' layout='row'>
	       			<!-- date input control -->
	       			<md-datepicker  ng-model='mainCtrl.selectedDate' md-placeholder='Anzuzeigendes Datum'></md-datepicker>

	   				<!-- room input control -->
	   				<md-autocomplete flex='50' style='margin: 5px; min-width: 50px' md-selected-item='mainCtrl.selectedRoom' md-no-cache='true' md-min-length='0'
				        md-search-text='mainCtrl.searchTextRoom'
				        md-items='room in mainCtrl.queryRoomSearch(mainCtrl.searchTextRoom)'
				        md-selected-item-change='mainCtrl.selectedRoomChange(room)'
				        md-item-text='room.display'
				    	placeholder='Anzuzeigender Raum'>
				        <md-item-template>
				          <span md-highlight-text='mainCtrl.searchTextRoom' md-highlight-flags='i'>{{room.display}}</span>
				        </md-item-template>
				        <md-not-found>
				        	Kein passender Raum gefunden.
				        </md-not-found>
				    </md-autocomplete>
			    </div>
			</md-content>

			<!-- divider for content areas, that works in both directions -->
			<md-divider class='bd-md-divider'></md-divider>

			<!-- This content takes the right 70% on a big screen and is below on a small screen -->
			<md-content flex-gt-sm='70'>
				<div ui-calendar='mainCtrl.calendarConfig' ng-model='mainCtrl.eventSources'></div>
			</md-content>
		</div>
</body>
</html>