<html>
<head>
	<title>conSense - easing course planning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="app" ng-strict-di ng-controller="AppCtrl as ctrl" class="fill-size" layout="column">
	<script src='js/app.js'></script>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>conSense<span class="hide show-gt-sm"> - easing course planning</span></h2>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="Menu">
					<md-icon md-svg-icon="img/icons/ic_menu.svg"></md-icon>
				</md-button>	
			</div>
		</md-toolbar>
		<div layout-xs="column" layout-sm="column" layout-gt-sm="row">
			<md-content flex-gt-sm="30">
				<md-input-container class="md-block no-margin side-padding">
         			<input ng-model="myDate">
        		</md-input-container>
        		<md-datepicker class="hide show-xs show-sm" ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
       			<md-whiteframe class="md-whiteframe-6dp hide show-gt-sm" style="transform:scale(0.8);">
       				<md-calendar class="fixed-calendar" ng-model="myDate"></md-calendar>
       			</md-whiteframe>
       			<md-autocomplete
			          ng-disabled="ctrl.isDisabled"
			          md-no-cache="ctrl.noCache"
			          md-selected-item="ctrl.selectedItem"
			          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
			          md-search-text="ctrl.searchText"
			          md-selected-item-change="ctrl.selectedItemChange(item)"
			          md-items="item in ctrl.querySearch(ctrl.searchText)"
			          md-item-text="item.display"
			          md-min-length="0"
			          placeholder="What is your favorite US state?">
			        <md-item-template>
			          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
			        </md-item-template>
			        <md-not-found>
			          No states matching "{{ctrl.searchText}}" were found.
			          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
			        </md-not-found>
			      </md-autocomplete>
       			<md-virtual-repeat-container id="vertical-container">
    				<div md-virtual-repeat="item in ctrl.dynamicItems" md-on-demand="" class="repeated-item" flex="">
       					{{item}}
      				</div>
   				</md-virtual-repeat-container>
			</md-content>
			<md-divider></md-divider>
			<md-content flex-gt-sm="70">
				<div ui-calendar ng-model="eventSources"></div>
				Test22
			</md-content>
		</div>
</body>
</html>