<html>
<head>
	<title>conSense - easing course planning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body class="fill-size" ng-app="app" ng-strict-di ng-controller="AppCtrl as mainCtrl" layout="column">
	<script src='js/app.js'></script>
		<!-- toolbar with collapsing title and menu button -->
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>conSense<span class="hide show-gt-sm"> - easing course planning</span></h2>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="Menu">
					<md-icon md-svg-icon="img/icons/ic_menu.svg"></md-icon>
				</md-button>	
			</div>
		</md-toolbar>

		<!-- main content area -->
		<div layout-xs="column" layout-sm="column" layout-gt-sm="row">
			<!-- this content takes the left 30% on a big screen and is on top on a small screen -->
			<md-content flex-gt-sm="30">
				<!-- date input controls for the big screen -->
				<md-input-container class="md-block hide show-gt-sm input-container-margin">
         			<input ng-model="mainCtrl.selectedDate" placeholder="Anzuzeigendes Datum">
        		</md-input-container>

        		<!-- TODO: Fix calendar to scale with size of surrounding div (own directive) -->
        		<div class="hide show-gt-sm whiteframe-6dp-margin" md-whiteframe="6">
        			<md-calendar class="fixed-calendar" ng-model="mainCtrl.selectedDate" />
        		</div>

       			<!-- date input control for the small screen -->
       			<md-datepicker class="hide show-xs show-sm" ng-model="mainCtrl.selectedDate" md-placeholder="Anzuzeigendes Datum"></md-datepicker>
       			
       			<!-- room input controls for the big screen -->
       			
   				<!-- room input controls for the small screen -->
   				<md-autocomplete class="hide show-xs show-sm" md-selected-item="mainCtrl.selectedRoom" md-no-cache="true" md-min-length="0"
			        md-search-text="mainCtrl.searchTextRoom"
			        md-items="room in mainCtrl.queryRoomSearch(mainCtrl.searchTextRoom)"
			        md-selected-item-change="mainCtrl.selectedRoomChange(room)"
			        md-item-text="room.display"
			    	placeholder="Anzuzeigender Raum">
			        <md-item-template>
			          <span md-highlight-text="mainCtrl.searchTextRoom" md-highlight-flags="i">{{room.display}}</span>
			        </md-item-template>
			        <md-not-found>
			        	Kein passender Raum gefunden.
			        </md-not-found>
			    </md-autocomplete>
			</md-content>

			<!-- divider for content areas, that works in both directions -->
			<md-divider class="bd-md-divider"></md-divider>

			<!-- This content takes the right 70% on a big screen and is below on a small screen -->
			<md-content flex-gt-sm="70">
				<div ui-calendar ng-model="eventSources"></div>
			</md-content>
		</div>
</body>
</html>