.fixed-calendar {
  width: 340px;
  height: 348px;
  display: block;
}

.fixed-calendar .md-calendar-scroll-mask {
   width: 340px !important;
}

.fixed-calendar .md-virtual-repeat-scroller {
  width: 340px;
  height: 308px;
}


.no-margin {
	margin:0px !important;
}

.side-padding {
	padding-left: 10px;
	padding-right: 10px;
}

md-input-container .md-errors-spacer {
    min-height: 3px;
}

.fill-size {
	height: 100%;
	width: 100%;
}


#vertical-container {
    min-height: 300px;
    width: 100%;
}
.repeated-item {
    border-bottom: 1px dotted #757575;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    margin-right: 16px;
}
md-virtual-repeat-container {
  border: solid 1px grey; 
}


md-divider {
    border-top-width: 1px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.12);
}