// style for content areas
.fill-size {
  height: 100%;
  width: 100%;
}


// style for date input container
.input-container-margin {
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.input-container-margin > .md-errors-spacer {
    display: none;
}


// style for both directions md-divider
.bd-md-divider {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(0, 0, 0, 0.12);
    margin: 2px;
}


// style fix for an always open md-calendar controll
// scaled in size with an css-transform
.whiteframe-6dp-margin {
  margin: 6px;
}

.fixed-calendar {
  width: 340px;
  height: 348px;
  display: block;
}

.fixed-calendar .md-calendar-scroll-mask {
   width: 340px !important;
}

.fixed-calendar .md-virtual-repeat-scroller {
  width: 340px;
  height: 308px;
}


// others
// #vertical-container {
//     min-height: 300px;
//     width: 100%;
// }
// .repeated-item {
//     border-bottom: 1px dotted #757575;
//     box-sizing: border-box;
//     height: 50px;
//     overflow: hidden;
//     margin-right: 16px;
// }
// md-virtual-repeat-container {
//   border: solid 1px grey; 
// }

// .no-margin {
//   margin:0px !important;
// }

// .side-padding {
//   padding-left: 10px;
//   padding-right: 10px;
// }